################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DartPlusAPI
/bin/Debug/net8.0
/obj
/Properties
/bin/Release/net8.0
/.vs/CarePoint/v17/.wsuo
/.vs/CarePoint/v17/DocumentLayout.json
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation/dartplusapi.metadata.v8.bin
/.vs/ProjectEvaluation/dartplusapi.projects.v8.bin
/.vs/ProjectEvaluation/dartplusapi.strings.v8.bin
/.vs/VSWorkspaceState.json
/DartPlusAPI.csproj.user
/.gitignore
