################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DartPlusAPI
/bin/Debug/net8.0
/obj
/Properties
/bin/Release/net8.0
